body{
    margin: 0;
    padding: 0;
    background: transparent linear-gradient(238deg, #D6C189 0%, #243C03 100%, #000000 100%) 0 0 no-repeat padding-box;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    padding: 2em;
    overflow: auto;
}

.friends>div>img {
    height: 10vmax;
    width: 10vmax;
    object-fit: cover;
    border-radius: 50%;
}

.friends>div {
    height: 30em;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
}

.friends>div>div {
    height: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-friend-button {
    color: white;
    background: transparent linear-gradient(90deg, #D6C189 0%, #243C03 100%) 0 0 no-repeat padding-box;
}

.add-friend {
    width: 30%;
}

.add-friend>i {
    padding: 1em 1em;
}