body{
    margin: 0;
    padding: 0;
    background: transparent linear-gradient(238deg, #D6C189 0%, #243C03 100%, #000000 100%) 0 0 no-repeat padding-box;
}

.maps {
    display: flex;
    justify-content: center;
    align-items: center;
}

#map {
    position: absolute;
    width: 75%;
    height: 90%;
    top: 5%;

}
