body{
    margin: 0;
    padding: 0;
    background: transparent linear-gradient(238deg, #D6C189 0%, #243C03 100%, #000000 100%) 0 0 no-repeat padding-box;
}

section {
    display: flex;
    flex-direction: column;
    padding: 2em;
    overflow: auto;
}

.news>div {
    height: 300px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background: #D6C189 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    margin: 1em;
}

.news>div>div {
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.news>div>div>div {
    height: 50%;
    margin-left: 1em;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.news>div>div>img {
    height: 100%;
    width: 30%;
    object-fit: cover;
}

#add-news-button {
    color: white;
    background: transparent linear-gradient(90deg, #D6C189 0%, #243C03 100%) 0 0 no-repeat padding-box;
}

.add-news {
    width: 30%;
}

.add-news>i {
    padding: 1em 1em;
}

.see-more-button {
    background: #243C03 0 0 no-repeat padding-box;
    border-radius: 4px;
    height: 20%;
    width: 30%;
    text-align: center;
    padding: 0;
}