#back-to-sign-in {
    background: transparent linear-gradient(270deg, #D6C189 0%, #243C03 100%) 0 0 no-repeat padding-box;
}

#register {
    background: transparent linear-gradient(90deg, #D6C189 0%, #243C03 100%) 0 0 no-repeat padding-box;
}

.no-valid {
    border: 3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}