body{
    margin: 0;
    background: transparent linear-gradient(238deg, #D6C189 0%, #243C03 100%, #000000 100%) 0% 0% no-repeat padding-box;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    padding: 2em;
    overflow: auto;
}

.routes>div>img {
    height: 50%;
    width: 100%;
    object-fit: cover;
}

.routes>div>div {
    height: 50%;
    margin: 1em;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.routes>div {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #243C03 0 0 no-repeat padding-box;
}

#add-route-button {
    color: white;
    background: transparent linear-gradient(90deg, #D6C189 0%, #243C03 100%) 0% 0% no-repeat padding-box;
}

#add-route-link {
    text-decoration: unset !important;
    display: unset !important;
}

.add-route {
    width: 30%;
}

.add-route>i {
    padding: 1em 1em;
}