body{
    margin: 0;
    padding: 0;
    background: transparent linear-gradient(238deg, #D6C189 0%, #243C03 100%, #000000 100%) 0 0 no-repeat padding-box;
}

section{
    height: 50%;
    width: 100%;
}

button.button-center-text{
    text-align: center;
}

button.save-image-button {
    text-align: center;
    width: 50%;
}

.settings-part{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.settings-part div {
    width: 50%;
}

#user-image {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.settings-part img {
    border-radius: 50%;
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}

#upload-image-messages {
    margin-bottom: 20px;
    color: white;
    font-size: 18px;
}

#user-image a {
    margin-top: 20px;
    text-decoration: underline;
    color: white;
    font-size: 18px;
}

.stats-part{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#stats{
    width: 80%;
    height: 80%;
    background: #D6C189 0 0 no-repeat padding-box;
    border-radius: 22px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1em;
    padding: 1em;
    overflow: auto;
    align-items: center;
}

.stats-div {
    background: #243C03 0 0 no-repeat padding-box;
    width: 100%;
    height: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#stats1 {
    border-radius: 12px 0 0 0;
}

#stats-value2 {
    border-radius: 0 12px 0 0;
}

#stats7 {
    border-radius: 0 0 0 12px;
}

#stats-value8 {
    border-radius: 0 0 12px 0;
}