body{
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-top: 40px;
    width: 50%;
    height: 50%;
    text-align: center;
}

.logo>img{
    width: 80%;
}

.login-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.login-container>.message {
    color: red;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
}

.spec-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin-top: 80px;
}

button {
    box-shadow: 0 10px 6px #00000029;
    border: 1px solid #001904;
    border-radius: 18px;
    opacity: 0.8;
    color: white;

    width: 40%;
    padding: 0.5em;
    margin: 1em;
    line-height: 2.5em;
}

button a {
    color: white;
}

input {
    background: transparent linear-gradient(270deg, #D6C189 0%, #243C03 100%) 0 0 no-repeat padding-box;
    box-shadow: 0 10px 6px #00000029;
    border: 1px solid #001904;
    border-radius: 18px;
    opacity: 0.8;
    color: white;

    width: 50%;
    padding: 1em;
    margin: 1em;
}
#login {
    background: transparent linear-gradient(270deg, #D6C189 0%, #243C03 100%) 0 0 no-repeat padding-box;
}

#register {
    background: transparent linear-gradient(90deg, #D6C189 0%, #243C03 100%) 0 0 no-repeat padding-box;
}

input::placeholder {
    color: white;
}

@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column;
    }

    * {
        font-size: 18px;
    }

    .login-container {
        width: 100%;
    }

    .logo {
        width: 100%;
    }

    form {
        margin: auto;
    }

    img {
        height: 7em;
    }
}

.base-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

nav {
    width: 20vw;
    height: 100%;
    background: rgba(255,255,255,0.46) 0 0 no-repeat padding-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
main {
    width: 80vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav>img {
    width: 70%;
    margin: 2em auto;
}

a {
    text-decoration: none;
    display: inline-block;
}

li>i {
    font-size: 1.5em;
}

.button {
    background: transparent linear-gradient(270deg, #D6C189 0%, #243C03 100%) 0 0 no-repeat padding-box;
    box-shadow: 0 10px 6px #00000029;
    border: 1px solid #001904;
    border-radius: 10px;
    opacity: 0.8;
    text-align: left;
    letter-spacing: 0.72px;
    color: white;
    padding: 0.1rem;
    width: 60%;
}

ul {
    list-style-type: none;
    font: normal normal normal 20px/27px Sagoe UI;
    letter-spacing: 0.72px;
    color: white;
    height: 100%;
    width: calc(100% - 40px);
    position: relative;
    margin: 0 auto;
    padding: 0;
}

li {
    text-align: left;
    color: black;
    margin-bottom: 1em;
}

li:last-child {
    position: absolute;
    bottom: 0;
    width: 100%;
}

hr {
    border-top: 3px solid #243C03;
}

#hr-under-menu {
    position: absolute;
    bottom: 10%;
    width: 100%;
}

.fa, .fas {
    width: 1em;
    padding: 0.1rem;
    margin-right: 0.3em;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1em 2em;
    background: rgba(255,255,255,0.46) 0 0 no-repeat padding-box;
    border-bottom: 1px solid #707070;
}

.search-bar {
    width: 50%;
}